 {% extends 'Base.html' %} {% load static %} {% block content %} {% block user %}{% if request.user.is_authenticated %}

<img style="width:20px;" class="rounded-circle" src="{% static 'login/image/userImage.png' %}">
<a href="#" class="pt-2">{{ request.user.username }}</a>
<a href="{% url 'user_logout' %}" class="pt-2">| logout</a> {% else %}
<a href="{% url 'login' %}">Login</a> {% endif %} {% endblock %}
<main>
    <div class="container my-5 p-3 shadow-lg">
        <div class="row">
            <div class="col-lg-8 col-sm-12">

                <h1>recent short story</h1>
                <div>
                    {% for i in short_story %}
                    <div class="shadow p-2 mb-5 bg-body rounded border border-dark">
                        <p>

                            <div class="col col-lg-2 p-1 mb-5 border rounded border-round">
                                <h5> @{{ i.writer.username }}</h5>
                            </div>
                            <p class="font-italic">{{ i.title }}</p>{{ i.created }} | {% if request.user.id == i.writer.id %}
                            <a href="{% url 'editshortstory' i.id %}">Edit</a></p>
                        {% endif %}
                        <br>
                        <p>{{ i.context|safe }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 my-5 p-3">
                <div class="rounded border border-dark">
                    <h4>
                        <p class="text-center">recent activity</p>
                    </h4>
                    <ul>
                        <li>this books amazing</li>
                        <li>yeaah good</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Section of long Story -->
{% endblock %}