<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blah</title>
</head>

<body>
    <h1>Name | {{ read.title }}
        <br>Writer | {{ read.writer.username }}
    </h1>
    <br/>
    <div>
        <p>{{ read.context | safe }}</p>
    </div>
    <div>
        <h3>Comments</h3>
        {% for i in comment %}
        <small><li>@{{ i.user.username }} | {{ i.created|timesince }}<h5></h5><p>{{ i.body }}</p></li>
        </small> {% endfor %}
    </div>

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="body" placeholder="write your comments here...">
        </form>
    </div>
</body>

</html>