{% extends 'Base.html' %} {% load static %} {% block content %}
<div class="container d-flex justify-content-center my-5">
    <div class="shadow p-2 mb-5 bg-body rounded">
        <div class="row my-2 mx-2 main">
            <!--left-column-->
            <div class="col-md-4 col-12 mycol">
                <!--image--><img src="{% static 'signun/signuUp.jpg' %}" width="100%" height="50%"> </div>
            <!--right-column-->
            <div class="col-md-8 col-12 xcol">
                <h2 class="title pt-5 pb-3">Sign up</h2>
                <form class="form" enctype="multipart/form-data" action="" method="post">
                    {% csrf_token %} {% for field in form %}
                    <div class="row rone">
                        <div class="form-group col-md-10 fone py-3"> {{ field }}</div>
                    </div>
                    {% endfor %}
                    <div class="form-group col-md-6 fseven py-3"> <button type="submit" class="btn btn-primary"><span>Sign Up</span></button> </div>
                    <div class="form-group col-md-6 feight py-3">
                        <p class="text-muted">Already have an account?<br><a href="#">Sign in</a></p>
                    </div>
                </form>
            </div>
        </div>
        {% for msg in messages %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                {{msg}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}